#!/bin/bash

# Make vim the default editor
export EDITOR=/usr/bin/nvim;
export TERMINAL="urxvt";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

export DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/user/$(id -u)/bus;

export TODOTXT_DEFAULT_ACTION=ls

# hidpi for gtk apps
#export GDK_SCALE=2
#export GDK_DPI_SCALE=0.5
export QT_AUTO_SCREEN_SCALE_FACTOR=1

export DOCKER_CONTENT_TRUST=0

# if it's an ssh session export GPG_TTY
if [[ -n "$SSH_CLIENT" ]] || [[ -n "$SSH_TTY" ]]; then
	GPG_TTY=$(tty)
	export GPG_TTY
fi


export MAVEN_OPTS="-Xms1024m -Xmx2048m -XX:+TieredCompilation -XX:TieredStopAtLevel=1 -DdependencyLocationsEnabled=false"

export NVM_DIR="/Development/tools/nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh" # This loads nvm

# pip (Python installer) should only run if there is a virtualenv currently activated
export PIP_REQUIRE_VIRTUALENV=true
# use syspip (= pip) to update global packages without a virtualenv environment
syspip() {
   PIP_REQUIRE_VIRTUALENV="" pip3 "$@"
 }
