[Unit]
Description=Run Slack status update every three minutes
Requires=slack-status.service

[Timer]
OnUnitActiveSec=3min

[Install]
WantedBy=timers.target
