
#
# These rules can be used to consistently name network interfaces.
# In that case, update the MAC address and possibly name.
# Names like "ethx" and "wlanx" are not recommended as they might conflict with default naming scheme.

# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="68:5b:35:a7:cb:41", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="60:03:08:a3:42:00", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="wlan0"
